<form class="register-form m-4" [formGroup]="typeGroup">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2>Type de bien ?</h2>
                            </div>
                            <div class="body">
                                <div class="example-container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="cont-main">
                                                <div class="cont-checkbox" *ngFor="let typeDeBien of dataService.refs.typeDeBiens index as i">
                                                  <input type="radio" name="typeDeBien" [id]="'typeDeBien-' + i" 
                                                  formControlName="typeDeBien"
                                                  [value]="typeDeBien.id" (change)="onTypeDeBienChange($event)" />
                                                  <label [for]="'typeDeBien-' + i">
                                                    <img [src]="typeDeBien.image" />
                                                    <span class="cover-checkbox">
                                                      <svg viewBox="0 0 12 10">
                                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                      </svg>
                                                    </span>
                                                    <div class="info">{{ typeDeBien.typeDeBien }}</div>
                                                  </label>
                                                </div>
                                            </div>
                                        </div>    

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Choisir un standing</mat-label>
                                            <mat-select formControlName="standingControl" required>
                                                <mat-option *ngFor="let standing of  dataService.refs.standings" [value]="standing.id">
                                                    {{ standing.standing }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="typeGroup.get('standingControl').hasError('required')">
                                                Choisir la topologie du terrain </mat-error>
                                            <mat-hint>{{typeGroup.get('standingControl').value?.sound}}</mat-hint>


                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Nombre de pièces</mat-label>
                                            <input matInput type="number" min="0" placeholder="0"
                                                formControlName='nbPiecesControl' (blur)="updateSurface()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Garage</mat-label>
                                            <mat-select formControlName="garageControl" required>
                                                <mat-option *ngFor="let garage of  dataService.refs.garages" [value]="garage.nb_voitures">
                                                    {{ garage.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="typeGroup.get('garageControl').hasError('required')">
                                                Choisir la topologie du terrain </mat-error>
                                            <mat-hint>{{typeGroup.get('garageControl').value?.sound}}</mat-hint>

                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
          
                    
                </div>
            </div>

    <div>
        <button mat-button color="warn" class="msr-2" (click)="onRetour()">retour</button>
        <button mat-raised-button color="primary" [disabled]="!typeGroup.valid" (click)="onSubmit()">Valider</button>
    </div>
</form>