<form class="register-form m-4" [formGroup]="localisationGroup" (ngSubmit)="onSubmit()">
  <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
    <div class="card">
      <div class="header">
        <h2>Renseignez la localisation de votre terrain</h2>
      </div>
      <div class="body">
        <div class="container-fluid">
         
            <div class="row ">
              <div class="col-sm-6">
                <!-- <h6>Ville</h6> -->
                <mat-form-field class="example-full-width">
                  <mat-label>ville</mat-label>
                  <mat-select formControlName="villeControl" required (selectionChange)="onVilleChange ($event)"
                    #villeSelector [(value)]="selectedVilleValue">
                    <!-- <mat-option>Select Item</mat-option> -->
                    <mat-option *ngFor="let ville of villes " [value]="ville.CHEF_LIEU">
                      {{ville.CHEF_LIEU}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="localisationGroup.get('villeControl').hasError('required')">Please choose ville
                  </mat-error>
                  <mat-hint>{{localisationGroup.get('villeControl').value?.sound}}</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <!-- <h6>Commune</h6> -->
                <mat-form-field class="example-full-width">
                  <mat-label>commune</mat-label>
                  <mat-select formControlName="communeControl" required #communeSelector
                    [(value)]="selectedCommuneValue">
                    <!-- <mat-option>Select Item</mat-option> -->
                    <mat-option *ngFor="let commune of communesOfVille" [value]="commune.COMMUNE">
                      {{commune.COMMUNE}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="localisationGroup.get('communeControl').hasError('required')">Please choose commune
                  </mat-error>
                  <mat-hint>{{localisationGroup.get('communeControl').value?.sound}}</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- <h6>Quartier</h6> -->
                <mat-form-field class="example-full-width">
                  <mat-label>Quartier</mat-label>
                  <input type="text" matInput [matAutocomplete]="auto" formControlName="quartierControl">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let quartier of filtredQuartiers | async " [value]="quartier.nom">
                      {{ quartier.label }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <!-- <h6>Zone</h6> -->
                <mat-form-field class="example-full-width">
                  <mat-label>zone</mat-label>
                  <mat-select formControlName="zoneControl">
                    <!-- <mat-option>Select Item</mat-option> -->
                    <mat-option *ngFor="let zone of zones " [value]="zone.nom">
                      {{zone.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  <div>
    <button mat-raised-button color="primary" [disabled]="!localisationGroup.valid">Suivant</button>
  </div>
</form>