<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Estimation du bien</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i>Accueil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a routerLink="/info-projet">Informations</a>
            </li>
            <li class="breadcrumb-item bcrumb-3">
              <a routerLink="/estimation">Estimation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3  ">
        <h4>Notre proposition:</h4>
  
          <h5 > <strong class="title-nos-proposition">Ville:</strong> {{dataService.infosProjet.ville["ville"]}}</h5>
          <h5 > <strong class="title-nos-proposition">Commune:</strong> {{dataService.infosProjet.commune["commune"]}}</h5>
          <h5 > <strong class="title-nos-proposition">Quartier:</strong> {{dataService.infosProjet.quartier}}</h5>
          <h5 > <strong class="title-nos-proposition">Zone:</strong> {{dataService.infosProjet.zone}}</h5>
          <h5 > <strong class="title-nos-proposition">Surface:</strong> {{dataService.infosProjet.surface}}</h5>
          <h5 > <strong class="title-nos-proposition">Type de bien:</strong> {{dataService.infosProjet.typeDeBien["type_de_bien"]}}</h5>
          <h5 > <strong class="title-nos-proposition">Nombre de pieces:</strong> {{dataService.infosProjet.nbPieces}}</h5>
          <h5 > <strong class="title-nos-proposition">Standing:</strong> {{dataService.infosProjet.standing["standing"]}}</h5>
          <h5 > <strong class="title-nos-proposition">Garage:</strong> {{dataService.infosProjet.garage["label"]}}</h5>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <div class="row">
          <div class="card">
            <h4>Estimation du budget de construction:</h4>
            <table class="custom-table">
              <thead>
                <tr>
                  <td>Min</td>
                  <td>Budget estimé</td>
                  <td>Max</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{estimation.min|thousandSeparator}}</td>
                  <td>{{estimation.estimation|thousandSeparator}}</td>
                  <td>{{estimation.max|thousandSeparator}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <h5>Détail par corps d'état:</h5>
            <ngx-datatable [rows]="rowsEstimation" [columns]="columns" #mydatatable class="material" [headerHeight]="50"
              [scrollbarH]="true" [scrollbarV]="true" [rows]="rowsEstimation" [externalPaging]="false">
              <ngx-datatable-column name="designation" prop="designation" [frozenLeft]="true" [width]="250">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div style="text-align: left ; "> {{ value }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="min" prop="min" [width]="120">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div style="text-align: right;"> {{ value |thousandSeparator }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Budget estimé" prop="estimation" [width]="120">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div style="text-align: right;"> {{ value |thousandSeparator }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="max" prop="max" [width]="120">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <div style="text-align: right;"> {{ value |thousandSeparator }}</div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>

      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
        <h4>Personalisation</h4>

        <div class="row">
          <div class="m-l-10">
            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [scrollbarH]="true"
              [scrollbarV]="true" [rows]="rowsPieces" [externalPaging]="false" style="height: 500px;">
              <ngx-datatable-column name="piece">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Clicker pour modifier" (click)="editing[rowIndex + '-piece'] = true"
                    *ngIf="!editing[rowIndex + '-piece']">
                    {{ value }}
                  </span>
                  <select *ngIf="editing[rowIndex + '-piece']" (blur)="editing[rowIndex + '-piece'] = true"
                    (change)="updateValue($event, 'piece', rowIndex)" [value]="value">
                    <option value="cuisine">Cuisine</option>
                    <option value="salon">Salon</option>
                    <option value="chambre">Chambre</option>
                    <option value="salleDeBain">Salle de Bain</option>
                  </select>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Surface">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Clicker pour modifier"
                    (click)="editing[rowIndex + '-surface'] = true;onClickSurface($Event)"
                    *ngIf="!editing[rowIndex + '-surface']">
                    {{ value }}
                  </span>
                  <input #surfaceInput type="number" min="0" autofocus (click)="onClickSurface($Event)"
                    (blur)="updateValue($event, 'surface', rowIndex)" *ngIf="editing[rowIndex + '-surface']"
                    [value]="value" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Nombre">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Clicker pour modifier" (click)="editing[rowIndex + '-nombre'] = true"
                    *ngIf="!editing[rowIndex + '-nombre']">
                    {{ value }}
                  </span>
                  <input autofocus (blur)="updateValue($event, 'nombre', rowIndex)"
                    *ngIf="editing[rowIndex + '-nombre']" type="number" min="0" [value]="value" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false" [width]="120">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>

                    <button class="btn tblActnBtn h-auto" (click)='deleteRow(row)'>
                      <i class="material-icons">delete</i>
                    </button>
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <!-- 
        <div class="row">
          <h4>Ajouter une pièce:</h4>
          <button color="primary" [disabled]="!pieceGroup.valid" (click)="valider()">
            <mat-icon class="col-white">add</mat-icon>
          </button>
        </div> -->
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <h5>Ajouter une pièce:</h5>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button mat-mini-fab color="primary" (click)='personaliser()'>
              <mat-icon class="col-white">add</mat-icon>
            </button>

            <!-- <button mat-icon-button (click)="$event.stopPropagation()" (click)="personaliser()"
            class="tbl-action-btn">
            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
          </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>